:root {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 54px 1fr auto;
    grid-template-columns: 1fr;
    background-color: white;
}

.sidebar {
    position: absolute;
    z-index: 999;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto repeat(4, 1fr);
    justify-items: center;
    width: 800px;
    height: 100%;
    font-size: 60px;
    color: white;
    background-color: darkslategray;
}

.sidebar > .sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.sidebar > li {
    width: 100%;
}

.sidebar > .sidebar-item:hover {
    background-color: rgb(31, 53, 53);
}

.sidebar > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px;
    color: white;
    background-color: darkslategray;
}

.menu > .menu-icon {
    position: absolute;
    left: 10px;
    padding: 4px;
}

.menu > .dropdown {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 130px;
}

.menu > .dropdown > li {
    font-size: 20px;
    z-index: 998;
    background-color: darkslategray;
}

.menu > .dropdown > .dropdown-header {
    display: flex;
    justify-content: space-between;
    padding: 6px 6px 6px 10px;
}

.menu > .dropdown > .dropdown-header > .container {
    position: relative;
    width: 24px;
}

.menu > .dropdown > .dropdown-header > .container > img {
    position: absolute;
}

.menu > .dropdown > li:hover {
    background-color: rgb(31, 53, 53);
}

.menu > .dropdown > li > a {
    display: flex;
    justify-content: center;
    padding: 6px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > .photo-slider-header {
    font-size: 30px;
    margin-top: 150px;
}

main > .photo-slider-container {
    position: relative;
    height: 350px;
    width: 1000px;
    margin-top: 20px;
}

main > .photo-slider-container > img {
    position: absolute;
}

main > .photo-slider-container > .back-arrow,
main > .photo-slider-container > .forward-arrow {
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}

main > .photo-slider-container > .back-arrow:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

main > .photo-slider-container > .forward-arrow {
    right: 0;
}

main > .photo-slider-container > .forward-arrow:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

main > .navigation-dot-container {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

main > .navigation-dot-container > .dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
}

main > .navigation-dot-container > .dot:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: darkslategray;
}

.hidden {
    visibility: hidden;
}
